<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  
  <Identity Name="7a5b4605-c514-4cf7-914b-93ebb3eb4f5c"
            Publisher="CN=peter.cisewski"
            Version="1.0.0.0" />
  
  <Properties>
    <DisplayName>MatchIt</DisplayName>
    <PublisherDisplayName>peter.cisewski</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
    <Description>MatchIt</Description>
  </Properties>
  
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  
  <Resources>
    <Resource Language="en-us"/>
  </Resources>
  
  <Applications>
    <Application Id="App" 
        Executable="matchit.exe" 
        EntryPoint="MatchIt.App">
        <VisualElements 
            DisplayName="MatchIt"
            Logo="Images\Logo.png"
            SmallLogo="Images\SmallLogo.png"
            Description="MatchIt"
            ForegroundText="light"
            BackgroundColor="#222222">
            <SplashScreen Image="Images\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>